*.suo
*.csproj.user
*.i
*.p1
*.d
*.log
*.inx
memoryfile.xml
*.cmf
*.elf
*.hxl
*.lst
*.map
*.o
*.rlf
*.sdb
*.sym
**/dist/default/debug/
!/*/nbproject
/*/nbproject/*
!/*/nbproject/configurations.xml
!/*/nbproject/project.xml
/*/queuelogs/
/*/debug/
/*/build/
/*/obj/
/*/bin/Debug/
